<nav class="green accent-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">
        FollowJack
    </a>
        <ul class="right hide-on-med-and-down">
            <li class="active"><a href="#">Dashboard</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li>
                <div class="userView">
                    <div class="background">
                    </div>
                    <img class="responsive-img" src="../assets/me.jpeg" style="max-width: 100%">
                </div>
            </li>
            <li class="active"><a href="#">Dashboard</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" materialize="sideNav" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="center">
            <img class="responsive-img" src="../assets/me.jpeg">
        </div>
    </div>
</div>


<footer class="page-footer green accent-4" style="margin-top: 1em">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">FollowJack</h5>
                <p class="grey-text text-lighten-4">Talk is cheap.<br>
                    Coding passion is what we are looking for.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Become immortal</a></li>
                    <li><a class="white-text" href="#!">Infinite amount of money</a></li>
                    <li><a class="white-text" href="#!">Save the world</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Service X</a></li>
                    <li><a class="white-text" href="#!">Service Y</a></li>
                    <li><a class="white-text" href="#!">Service Z</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made with <3 by <a class="green-text text-lighten-3" href="https://github.com/FollowJack">FollowJack</a>
        </div>
    </div>
</footer>
